- games = [{gameNum: '1', score: '67'},{gameNum: '2', score: '98'}]
- userInfo = [{name: 'marian', email: 'none@none.com', password: 'pw', currentScore: '33'}]
  %header
    .h1-container
      %h1 The Game of Memory
    #userpage-container
      #userpage-title
        %h2
          Welcome, User!

      %aside#userpage-aside
        %nav
          %button#goto-scores.view-scores View Scores
          %i.fa.fa-star

      %section#user-table
        #user-score-div
          %h3
            Current Total:
            #total-points
              - sum = 0
              - (@scores.where(:user_id => @user.id)).each do |score|
                - sum += score.completeness
              = sum
        %ul#user-details
          = form_for :user, url: profile_path, method: :put do |f|
            = f.text_field :username, :placeholder => "Username"
            = f.email_field :email, :placeholder => "Email"
            = f.password_field :password, :placeholder => "Password"
            = f.submit "Update account info", class: "btn-submit", id: 'button'
      %section.table#score-table.hidden
        .table-cell
        -unless games.empty?
          %ul.leader#scores-ul
            - (@scores.where(:user_id => @user.id)).each do |score|
            %li.entry
              %i.fa.fa-star
              %h3 Game Number #{score.id}
              %span#1 #{score.completeness} Points
